<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="author">Автор</label>
      <input type="text" class="form-control" formControlName="author" id="author" placeholder="Автор статті...">
    </div>
    <div class="form-group col-md-6">
      <label for="name">Назва Джерела</label>
      <input type="text" class="form-control" formControlName="name" id="name" placeholder="24 News...">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="title">Заголовок</label>
      <input type="text" name="title" class="form-control" [class.is-invalid]="form.get('title').invalid && form.get('title').touched" formControlName="title" id="title"
        placeholder="Заголовок статті...">
    </div>

    <div class="form-group col-md-4">
      <label for="category">Категорія</label>
      <select id="category" formControlName="category" class="form-control">
        <option *ngFor="let category of categoris" [value]="category.nameEN">{{category.nameUA | titlecase}}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group pl-2 pr-2">
      <p class="m-0">Тип новин</p>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio"
            id="general"
            name="typeNews"
            class="custom-control-input"
            value="general"
            checked
            formControlName="typeNews">
        <label class="custom-control-label" for="general">Основні новини</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio"
            id="additional"
            name="typeNews"
            class="custom-control-input"
            value="additional"
            formControlName="typeNews">
        <label class="custom-control-label" for="additional">Додаткові новини</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <img [src]="imageUrl" [alt]="imageUrl" height="100%" width="100%">
    </div>
    <div class="col-md-9">
      <div class="form-group col">
        <label for="urlToImage">Зображення</label>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="urlToImage" aria-describedby="inputGroupFileAddon01"
              required (change)="uploadFile($event)">
            <label class="custom-file-label" for="urlToImage">Виберіть файл</label>
            <input type="hidden" formControlName="urlToImage">
          </div>
        </div>
      </div>
      <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
          [style.width]="(uploadProgress | async) + '%'" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="description">Опис</label>
    <textarea [class.is-invalid]="form.get('description').invalid && form.get('description').touched" class="form-control" formControlName="description" id="description"
      placeholder="Короткий опис статті..." required></textarea>
    <div class="invalid-feedback">
      Поле статті обов'язкове
    </div>
  </div>

  <div class=" form-group mb-3">
    <label for="content">Контент</label>
    <!-- <textarea class="form-control is-valid"  id="content" placeholder="Написати контент..."
      required></textarea> -->
  <quill-editor [styles]="{height: '300px'}" class="quill" [class.is-invalid]="form.get('content').invalid && form.get('content').touched" formControlName="content"  id="content"></quill-editor>

    <div class="invalid-feedback">
      Поле контенту обов'язкове
    </div>
  </div>



  <!-- <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div> -->
  <button type="submit" class="btn btn-success" [disabled]="form.invalid">Додати новину</button>
</form>
