<table class="table table-hover text-center table-responsive-md">
  <caption>Всі новини</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Заголовок</th>
      <th scope="col">Категорія</th>
      <th scope="col">Автор</th>
      <th scope="col">Тип</th>
      <th scope="col">Дата</th>
      <th scope="col">Дія</th>
    </tr>
  </thead>
  <tbody>
    <tr class="overflow-auto" *ngFor="let article of news | newsSortByDate; let idx = index">
      <th scope="row">{{idx + 1}}</th>
      <td>{{article.title}}</td>
      <td>{{article.category}}</td>
      <td>{{article.author}}</td>
      <td>{{article.typeNews}}</td>
      <td>{{article.publishedAt | date:'dd/MM/yyyy'}} <br>
          {{article.publishedAt | date:'hh:mm:ss'}}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-warning" (click)="openEditArticle(template, article)">Редаг.</button>
          <button type="button" class="btn btn-danger" (click)="deleteArticle(article.id)">Видал.</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>


<ng-template #template>

  <div class="modal-header ">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="author">Автор</label>
          <input type="text" class="form-control" formControlName="author" id="author" placeholder="Автор статті...">
        </div>
        <div class="form-group col-md-6">
          <label for="name">Назва Джерела</label>
          <input type="text" class="form-control" formControlName="name" id="name" placeholder="24 News...">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="title">Заголовок</label>
          <input type="text" name="title" class="form-control" formControlName="title" id="title"
            placeholder="Заголовок статті...">
        </div>

        <div class="form-group col-md-4">
          <label for="category">Категорія</label>
          <select id="category" formControlName="category" class="form-control">
            <option *ngFor="let category of categoris"
            [value]="category.nameEN">{{category.nameUA | titlecase}}</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group pl-2 pr-2">
          <p class="m-0">Тип новин</p>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio"
                id="general"
                value="general"
                name="typeNews"
                class="custom-control-input"
                formControlName="typeNews">
            <label class="custom-control-label" for="general">Основні новини</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio"
                id="additional"
                name="typeNews"
                class="custom-control-input"
                value="additional"
                formControlName="typeNews">
            <label class="custom-control-label" for="additional">Додаткові новини</label>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="url">URL</label>
          <input type="text" class="form-control" formControlName="url" name="url" id="url"
            placeholder="URL джерела...">
        </div>
        <div class="form-group col-md-6">
          <label for="urlToImage">Зображення</label>
          <input type="text" formControlName="urlToImage" class="form-control" id="urlToImage"
            placeholder="URL Зображення...">
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="description">Опис</label>
        <textarea class="form-control is-invalid" formControlName="description" id="description"
          placeholder="Короткий опис статті..." required></textarea>
        <div class="invalid-feedback">
          Поле статті обов'язкове
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="content">Контент</label>
        <!-- <textarea class="form-control is-valid" formControlName="content" id="content" placeholder="Написати контент..."
          required></textarea> -->
          <quill-editor [styles]="{height: '300px'}" class="quill" formControlName="content"  id="content"></quill-editor>

        <div class="invalid-feedback">
          Поле контенту обов'язкове
        </div>
      </div>



      <!-- <button type="submit" class="btn btn-success" (click)="addArticleToServer()">Додати новину</button> -->
      <button type="submit" class="btn btn-warning" (click)="editArticleInServer(); modalRef.hide()">Оновити статтю</button>
    </form>
  </div>
</ng-template>
