<div class="container">
  <div *ngIf="checker">
    <div class="img__wrapp mb-4">
      <div class="row">
        <h2 class="h1 col-10">{{article.title}}</h2>
        <div class="col-2 d-flex justify-content-center align-items-end">
          <div class="">
            <p class="pr-2 pl-2 category" [class.sports]="article.category === 'sports'"
              [class.general]="article.category === 'general'" [class.business]="article.category === 'business'"
              [class.entertainment]="article.category === 'entertainment'"
              [class.health]="article.category === 'health'" [class.science]="article.category === 'science'"
              [class.technology]="article.category === 'technology'">#{{article.category}}</p>
          </div>
        </div>

      </div>


      <div class="news border mb-4">
        <img class="img" [src]="article.urlToImage" [alt]="article.title">

        <span class="published">
          <span class="img__time-wrapp d-flex flex-wrap">
            <!-- {{article.publishedAt | date:'hh:mm dd/MM/yyyy'}} -->
            <span class="img--time">{{article.publishedAt | date:'hh:mm'}}</span>
            <span class="img--date">{{article.publishedAt | date:'dd/MM'}}</span>
            <span>
              <!-- {{idx}} -->
            </span>
          </span>
        </span>

      </div>

      <p class="h3 mb-4">{{article.description}}</p>
      <!-- <p>{{article.content}}</p> -->
      <quill-view-html [content]="article.content" theme="snow"></quill-view-html>
      <p class="text-right text-muted"><span appChangeColor>Автор: <span class="">{{article.author}}</span></span></p>
    </div>
  </div>
</div>
